# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
## -------------------------
## HEADER COMMENTS
## Python-API-Challenge-VacationPy-Homework
## Date Due April 18, 2020
## Author:  Rob Gauer

## FILE NAME: VacationPy.ipynb 
## VERSION: VacationPy_robgauer_vfinal.ipynb  # Final code is a duplicate copy of 'VacationPy.ipynb'
## -------------------------
# Read 'Preview README.md'
#
## DESCRIPTION
# Part II - VacationPy
# Now let's use your skills in working with weather data to plan future vacations. 
# Use jupyter-gmaps and the Google Places API for this part of the assignment.
#     Note: if you having trouble displaying the maps try running jupyter nbextension
#     enable --py gmaps in your environment and retry.
#
## Your final notebook must:
## -------------------------
# Create a heat map that displays the humidity for every city from the part I of the homework.
# Narrow down the DataFrame to find your ideal weather condition. For example:
#     A max temperature lower than 80 degrees but higher than 70.
#     Wind speed less than 10 mph.
#     Zero cloudiness.
#     Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
# Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
# Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.
# Create a new GitHub repository for this project called API-Challenge.
# You must complete your analysis using a Jupyter notebook.
#
## -------------------------

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Output Files (CSV)
output_data_file_hotels = "output_data/hotels_name_list.csv"

# Initialization and define URL to obtain data query end-points
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [3]:
# Import API key
from api_keys import g_key
g_key

'AIzaSyAtGIaEU0IXi5RuC9hmdjTftZhikNMFNiI'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [4]:
# Load the csv exported file from part 1 'WeatherPy' to a DataFrame
cities_csv_file="output_data/cities-cleaned.csv"
cities_cleaned_df=pd.read_csv(cities_csv_file)
cities_cleaned_df.head()

,Unnamed: 0,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
0,0,rikitea,1,PF,1587176034,63,-23.12,-134.97,77.36,1.99
1,1,teseney,29,ER,1587176226,20,15.11,36.66,68.41,1.61
2,2,gewane,100,ET,1587176226,72,10.17,40.65,72.77,8.52
3,3,puerto ayora,100,ES,1587176226,93,36.59,-6.23,61.00,3.36
4,4,port blair,97,CD,1587175756,61,-7.03,29.76,72.72,5.86

In [5]:
# DataFrame load creates column 'Unnamed: 0'. Remove the column with df.drop
cities_cleaned_df.drop('Unnamed: 0',axis=1, inplace=True)

In [6]:
# DataFrame prepared for processing...
cities_cleaned_df.head()

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
0,rikitea,1,PF,1587176034,63,-23.12,-134.97,77.36,1.99
1,teseney,29,ER,1587176226,20,15.11,36.66,68.41,1.61
2,gewane,100,ET,1587176226,72,10.17,40.65,72.77,8.52
3,puerto ayora,100,ES,1587176226,93,36.59,-6.23,61.00,3.36
4,port blair,97,CD,1587175756,61,-7.03,29.76,72.72,5.86

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Create a heat map that displays the humidity for every city from the part I of the homework.
gmaps.configure(api_key=g_key)

#fig = gmaps.figure(layout=figure_layout)
humidity=cities_cleaned_df["Humidity"].astype(float)
locations=cities_cleaned_df[["Latitude","Longitude"]].astype(float)
fig = gmaps.figure()

# Add marker layer on top of heat map
figure_layout = {
    'width': '960px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create heat layer
heat_layer=gmaps.heatmap_layer(locations,
                               weights=humidity,dissipating=False,max_intensity=max(cities_cleaned_df["Humidity"]),
                               point_radius=2)

# Add layers
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [8]:
# Save Heatmap to file 
plt.savefig("output_data/heatmap-humidity-cities-cleaned-df.png")

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
## DATAFRAME WEATHER CRITERIA
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

# Create new datafrome for the identification and removal DataFrame Weather Criteria above...
reduced_cities_df=cities_cleaned_df
reduced_cities_df.count()

Weather City           541
Cloudiness             541
Country                539
Date                   541
Humidity               541
Latitude               541
Longitude              541
Maximum Temperature    541
Wind Speed             541
dtype: int64

In [10]:
## PERFORM DATAFRAME CRITERIA CALCULATIONS
# A max temperature lower than 80 degrees but higher than 70.
reduced_cities_df = reduced_cities_df.loc[(reduced_cities_df["Maximum Temperature"] < 80) & (reduced_cities_df["Maximum Temperature"] > 70)]
# Wind speed less than 10 mph.
reduced_cities_df = reduced_cities_df.loc[reduced_cities_df["Wind Speed"] < 10]
# Zero cloudiness.
reduced_cities_df = reduced_cities_df.loc[reduced_cities_df["Cloudiness"] == 0]
# Drop any rows with null values
reduced_cities_df = reduced_cities_df.dropna()
reduced_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
195,sur,0,OM,1587176455,75,22.57,59.53,79.23,6.15
257,panama city,0,PA,1587176368,49,9.00,-80.00,75.99,4.00
277,forbes,0,AU,1587176597,44,-33.38,148.02,71.01,1.01
317,saint-leu,0,RE,1587176668,78,-21.15,55.28,71.60,9.17
328,pattoki,0,PK,1587176669,58,31.02,73.85,73.71,8.12
429,miandrivazo,0,MG,1587176817,63,-19.52,45.47,72.91,4.99

In [11]:
# Determine quantity of cities that meet DataFrame Weather Criteria
reduced_cities_df.count()

Weather City           6
Cloudiness             6
Country                6
Date                   6
Humidity               6
Latitude               6
Longitude              6
Maximum Temperature    6
Wind Speed             6
dtype: int64

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
# Determine quantity of cities that meet DataFrame Weather Criteria
reduced_cities_df.describe()

,Cloudiness,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
count,6.0,6.000000e+00,6.000000,6.000000,6.000000,6.000000,6.000000
mean,0.0,1.587177e+09,61.166667,-1.910000,50.358333,74.075000,5.573333
std,0.0,1.619996e+02,13.644291,26.356532,73.776951,3.074136,2.945971
min,0.0,1.587176e+09,44.000000,-33.380000,-80.000000,71.010000,1.010000
25%,0.0,1.587176e+09,51.250000,-20.742500,47.922500,71.927500,4.247500
50%,0.0,1.587177e+09,60.500000,-5.260000,57.405000,73.310000,5.570000
75%,0.0,1.587177e+09,72.000000,19.177500,70.270000,75.420000,7.627500
max,0.0,1.587177e+09,78.000000,31.020000,148.020000,79.230000,9.170000

In [13]:
# Create new datafrome for the identification and removal DataFrame Weather Criteria above...
hotel_cities_df=reduced_cities_df
hotel_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed
195,sur,0,OM,1587176455,75,22.57,59.53,79.23,6.15
257,panama city,0,PA,1587176368,49,9.00,-80.00,75.99,4.00
277,forbes,0,AU,1587176597,44,-33.38,148.02,71.01,1.01
317,saint-leu,0,RE,1587176668,78,-21.15,55.28,71.60,9.17
328,pattoki,0,PK,1587176669,58,31.02,73.85,73.71,8.12
429,miandrivazo,0,MG,1587176817,63,-19.52,45.47,72.91,4.99

In [14]:
# PARAMS Dictionary updates each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}
for index, city in hotel_cities_df.iterrows():
    # get lat, lng from df
    lat = city["Latitude"]
    lng = city["Longitude"]
# Change location for each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"
    
    # Create url and make API request
    print(f"Retrieving Results for Index {index}: {city['Weather City']}.")
    response = requests.get(base_url, params=params).json()
     
    # Extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        hotel_cities_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("EXCEPTION: City name is not found. Skip to next city...")
        
    print("-------------------------------------------------------")

Retrieving Results for Index 195: sur.
Closest hotel is Sur Plaza Hotel.
-------------------------------------------------------
Retrieving Results for Index 257: panama city.
EXCEPTION: City name is not found. Skip to next city...
-------------------------------------------------------
Retrieving Results for Index 277: forbes.
Closest hotel is Lake Forbes Motel.
-------------------------------------------------------
Retrieving Results for Index 317: saint-leu.
Closest hotel is La Caz Oceane.
-------------------------------------------------------
Retrieving Results for Index 328: pattoki.
Closest hotel is Numan Ahmad.
-------------------------------------------------------
Retrieving Results for Index 429: miandrivazo.
Closest hotel is Hôtel Arc En Ciel Miandrivazo.
-------------------------------------------------------

In [15]:
# Display output of hotel_cities_df with added Hotel Name column and data
hotel_cities_df

,Weather City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Maximum Temperature,Wind Speed,Hotel Name
195,sur,0,OM,1587176455,75,22.57,59.53,79.23,6.15,Sur Plaza Hotel
257,panama city,0,PA,1587176368,49,9.00,-80.00,75.99,4.00,NaN
277,forbes,0,AU,1587176597,44,-33.38,148.02,71.01,1.01,Lake Forbes Motel
317,saint-leu,0,RE,1587176668,78,-21.15,55.28,71.60,9.17,La Caz Oceane
328,pattoki,0,PK,1587176669,58,31.02,73.85,73.71,8.12,Numan Ahmad
429,miandrivazo,0,MG,1587176817,63,-19.52,45.47,72.91,4.99,Hôtel Arc En Ciel Miandrivazo

In [16]:
# Export the 'Hotes_Cities' DataFrame output to a csv
hotel_cities_df.to_csv(output_data_file_hotels)

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>Weather City</dt><dd>{Weather City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**city) for index, city in hotel_cities_df.iterrows()]
locations = hotel_cities_df[["Latitude", "Longitude"]]

In [18]:
# Add marker layer on top of heat map
figure_layout = {
    'width': '960px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**city) for index, city in hotel_cities_df.iterrows()]
)

# Add layers
fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

In [19]:
# Save Heatmap to file 
plt.savefig("output_data/heatmap-hotel-cities-df.png")

In [20]:
## ---EOF--- ##